<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TerminalPilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!--Themes-->
		<add key="Theme" value="" />
		<!--Shell-->
		<add key="Shell" value="" />
		<add key="ShellArgument" value="" />
		<!--Authentication-->
		<add key="UserToken" value="" />
	</appSettings>
 <userSettings>
  <TerminalPilot.Properties.Settings>
   <setting name="Theme" serializeAs="String">
    <value />
   </setting>
   <setting name="Shell" serializeAs="String">
    <value />
   </setting>
   <setting name="ShellArguments" serializeAs="String">
    <value />
   </setting>
   <setting name="UserToken" serializeAs="String">
    <value />
   </setting>
  </TerminalPilot.Properties.Settings>
 </userSettings>
</configuration>