<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Colors-->
		<add key="StandardTextColor" value="R,G,B" /> <!--Used for most text, not so violent colors are good-->
		<add key="BackgroundColor" value="R,G,B" /><!--Used for background colors, looks weird on some terminals-->
		<add key="SpecialColor1" value="R,G,B" /><!--Used mainly for info messages, beutiful and vibrant colors are good-->
		<add key="SpecialColor2" value="R,G,B" /><!--Used mainly for success messages, beutiful and vibrant colors are good-->
		<add key="SpecialColor3" value="R,G,B" /><!--Used mainly for stuff related to terminalpilot, beutiful and vibrant colors are good-->
		<!--Shell-->
		<add key="Shell" value="Cmd.exe" />
		<add key="ShellArgument" value="/c &quot;{COMMAND}&quot;" />
		<!--Authentication-->
		<add key="UserToken" value="" />
	</appSettings>
</configuration>